:root {
  --background-color: aliceblue;
  --text-color: #313131;  
  --primary-color: #007bff;
  --secondary-color: #dedede;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --light-color: rgb(246, 251, 255);
  --dark-color: #424649;
  --grey-color: #6c757d;
}


body {
  margin: 0.5rem;
  padding: 0;
  background: var(--light-color);
  color: var(--dark-color);
  font-family: 'Montserrat', sans-serif;
}

* {
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.main {
  margin: 0.5rem 0;
  flex-grow: 1;
}

.footer {
  margin: 0.5rem 0;
}