/* Services Page Styles */
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
    --grey-color: #6c757d;
    --background-gradient: linear-gradient(135deg, rgba(0, 123, 255, 0.9), rgba(104, 178, 255, 0.9));
}

.service-page {
    margin: 5px;
    /* padding-bottom: 15rem; */
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Responsive Design */
/* 
@media (max-width: 1300px){
    .services {
        padding-bottom: 20rem;
    }
}
@media (max-width: 1024px){
    .services {
        padding-bottom: 25rem;
    }
} */


@media (max-width: 768px) {
    .services-hero {
        flex-direction: column;
        text-align: center;
    }

    /* .services {
        padding-bottom: 15rem;
    } */

    .services-hero h1 {
        font-size: 2rem;
    }

    .services-hero p {
        font-size: 1rem;
    }

    .services-list {
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 50px 20px;
    }

    .cta-section h2 {
        font-size: 2rem;
    }

    .cta-section p {
        font-size: 1rem;
    }
}